




body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  text-align: center;
  background: no-repeat center/cover url('assets/bgh.jpg');
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}




ul {
  list-style: none
}

a {
  text-decoration: none;
  color: inherit;
}


header {
  height: calc(120vh - 150px);

}


header nav {
  display: flex;
  justify-content: space-between;
  margin: 0 30px;
  color: #ffffff;
}

header nav p {
  cursor: pointer;
  font-weight: bold;
  font-size: 1.5em;
  transition: text-shadow .6s ;
}
header nav p:hover {
  text-shadow: 0px 0px 10px #fff;
}


header nav ul {
  list-style: none;
  display: flex;
}

header nav ul li {
  margin: 0 15px;
  font-weight: 600;
  cursor: pointer;
  color: #ffffff;
}

header nav ul li:hover {
  color: #fffefd;
  transition: .4s;
}


.header-content {
  color: #fff;
  font-weight: bold;
  max-width: 400px;
  margin: 200px auto;
  text-align: center;
  animation: ease text-move 2s forwards;
}


.header-content h1 {
  margin-bottom: 80px;
  /*mudei o tamanho da fonte*/font-size: 7rem;
}

@keyframes text-move{
  from {transform:  translateY(0px);
        opacity: 0;}
  to {transform:   translateY(-20px);
      opacity: 1;}
}
button {
  padding: 10px 15px;
  border-radius: 8px;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
  border: 0;
  cursor: pointer;
  background-color: rgb(43, 1, 99);
  color: #fff;
}

h1 {
  color: white;
  margin-top: 40px;
}

form {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  width: 300px;
  margin: 0 auto;
}

label {
  margin-top: 10px;
  font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  padding: 8px;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 3px;
}

input[type="submit"] {
  padding: 8px 20px;
  margin-top: 20px;
  background-color: rgb(43, 1, 99);
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #45a049;
}

.error {
  color: red;
  margin-top: 10px;
}


.meu-botao {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  background-color: rgb(43, 1, 99);
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.meu-botao:hover {
  background-color: rgb(43, 1, 99);
}